.article-block{
    height: 240px;
    width: 100%;
    display: flex;
}

.article-block-element{
    height: 200px;
    padding: 40px;
    width:40%;
    margin: 0 auto;
    box-shadow: 0 0 10px 2px rgb(223, 222, 222);
    
    .article-icon{
        float: right;
        color: rgba(18, 76, 124, 0.87);
    }

    h4{
        font-weight: 600;
    }

}

.article-block_page{
    p{
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        opacity: 0.7;
        padding: 20px;
    }
}

@media screen and (max-width:900px){
    .article-block{
        display: block;
        height: fit-content;
    }

    .article-block-element{
        margin-top: 20px;
    }
}

@media screen and (max-width:500px){
    
    .article-block-element{
        width:60%;
    }
}